.footer-section{
    margin-top: 100px;
    /* background: rgb(237, 247, 250); */
    background: #2D3B38;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    
}

.footer-row{
    margin-left: 100px;
    margin-right: 50px;
}